services:
  db:
    image: mysql:8
    #volumes:
    #  - db:db
    env_file:
      - .env.local
    environment:
      - MYSQL_ROOT_PASSWORD=password
    networks:
      - internal

  api:
    build: services/api/.
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=release
    restart: unless-stopped
    networks:
      - internal

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - "./services/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml"
      - prom_data:/prometheus
  node-exporter:
    image: prom/node-exporter
    networks:
      - localprom
    ports:
      - 9100:9100
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    volumes:
      - ./grafana:/etc/grafana/provisioning/datasources
  
volumes:
  prom_data:


networks:
  internal:
    driver: bridge